# SPDX-FileCopyrightText: 2019-2026 Christian Hundt
# SPDX-FileCopyrightText: 2019-2026 Daniel Jünger
# SPDX-FileCopyrightText: 2019-2026 Parallel and Distributed Architectures <hpc@informatik.uni-mainz.de>
# SPDX-FileCopyrightText: 2019-2026 Robin Kobus
#
# SPDX-License-Identifier: MIT

[submodule "include/clipp"]
	path = include/clipp
	url = https://github.com/muellan/clipp.git
	branch = master
[submodule "include/hpc_helpers"]
	path = include/hpc_helpers
	url = https://gitlab.rlp.net/pararch/hpc_helpers
